doctype html
html(lang="en")
  head
    title= pageTitle
    style.
      span{
        background-color: pink;
        }
  body
    h1 FreeCodeCamp API Project
    h3 URL Shortener

    p Usage:
      span '/new/https://www.google.co.uk'

    p You will be given a reference number:
      span '2110'

    p Append your reference number to this address:
      span '/2110'
