doctype html
html(lang="en")
  head
    title URL Shortener
    style.
      span{
        background-color: pink;
        }
  body
    h1 FreeCodeCamp API Project
    h3 URL Shortener

    p Usage:
    p
      span 'https://fierce-waters-34379.herokuapp.com/new/https://www.google.co.uk'

    p You will be given a reference number:
    p
      span  '{"ref":1866,"refUrl":"https://www.google.co.uk"}'

    p Append your reference number to this address:
    p
      span 'https://fierce-waters-34379.herokuapp.com/1866'
