doctype html
html(lang="en")
  head
    title URL Shortener
    style.
      span{
        background-color: pink;
        }
  body
    h1 FreeCodeCamp API Project
    h3 URL Shortener

    p Usage:
    p
      span 'https://cat-swoop.hyperdev.space/new/?url=http://www.google.co.uk'

    p You will be given a reference number:
    p
      span  'ref': '2110'

    p Append your reference number to this address:
    p
      span 'https://cat-swoop.hyperdev.space/2110'
